### Editor
.idea/
*.iml
.settings/
.project
.classpath
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

### maven
release.properties
.checkstyle
target/
!hub-test-report/target/
hub-test-report/target/*
!hub-test-report/target/site/
hub-test-report/target/site/*
!hub-test-report/target/site/jacoco-aggregate/
hub-test-report/target/site/jacoco-aggregate/*
!hub-test-report/target/site/jacoco-aggregate/jacoco.xml

log/
logs/
data/
public/

.DS_Store
node/
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log
tests/**/coverage/
tests/e2e/reports
selenium-debug.log
package-lock.json
yarn.lock

reference
